@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Digital Nursing Caring Homes - DNCH</h2>
    <p class="lead">DNCH- Web application can offer nursing and care home organisations a low-cost, flexible solution that has been built on Microsoft Azure cloud platform. Azure SQL Database enables DNCH to retrieve information efficiently as compared to the traditional slow data centres response.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DNCH Story</h2>
        <p>
            DNCH is one of the new innovative application to support care industry
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resident Profiles</h2>
        <p>Many Care and Nursing homes are taking advantage of this application </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Care Plans</h2>
        <p>Care staff must read the care plans of residents before supporting them</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>